{
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "@foxcomm/babel-plugin-react-stylenames",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari 9"]
      }
    }],
    "stage-1",
    "flow",
    "react"
  ]
}
