{
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "@foxcomm/babel-plugin-react-stylenames",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ],
  "presets": ["flow", "stage-1", "es2015", "react"]
}
