@import "colors.css";

.editable-block {
  line-height: 16px;
}

.header {
  display: flex;
  align-items: baseline;
}

.title {
  flex-grow: 1;
  margin: 0;
  font-size: 12px;
  font-weight: 900;
}

.action {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  & + .action {
    margin-left: 10px;
  }
}
